html {
	position: relative;
	min-width: 1024px;
	min-height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 25px;
}

body > header {
	position: relative;
	height: 60px;
	padding: 10px 20px;
	background: #2af;
	color: white;
	line-height: 60px;
}

body > header > h1 {
	font-size: 30px;
	padding: 0px 50px;
}

body > header > nav {
	float: right;
	clear: both;
}

body > header > nav > a {
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 0px 16px;
}

body > header > nav > a:hover {
	background: #19e;
}

#content {
	margin: 30px 50px;
	padding : 20px 50px;
}

h2 {
	padding: 0px 30px;
	line-height: 40px;
	font-size: 25px;
	background: #929;
	color: white;
}

#cors {
	margin: 20px 0px;
}

#cors tr {
	height: 30px;
	line-height: 30px;
}

#cors tr th {
	background: #1c7;
	color: white;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	min-width: 100px;
	padding: 0px 10px;
}

#cors tr td {
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	min-width: 100px;
	padding: 0px 10px;
}



#cors tbody tr:nth-child(2n+2) {
	background: #2fa;
}

#cors tr td.loading {
	background: #eee;
	color: #aaa;
	font-size: 10px;
	min-width: 400px;
}

#cors tr td.error {
	background: #eee;
	color: red;
	font-size: 10px;
	min-width: 400px;
}

#cors tr td a {
	padding: 0px 10px;
	font-size: 12px;
	color: blue;
	text-decoration: none;
}

#cors tr td a:hover {
	text-decoration: underline;
	cursor: pointer;
}

#addcors {
	height: 20px;
	width: 200px;
	line-height: 20px;
	font-size: 14px;
	color: #1c7;
	cursor: pointer;
}

#addcors span {
	display: inline-block;
	text-align: center;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border: 2px solid #1c7;
	border-radius: 50%;
}

#addcors:hover span {
	background: #1c7;
	border-color: white;
	color: white;
}

.popupback {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	min-height: 500px;
	background: transparent;
	text-align: center;
	opacity: 1.0;
}

.popup {
	z-index: 2;
	position: relative;
	display: inline-block;
	margin: 50px auto;
	padding: 50px 0px 40px 0px;
	overflow-y: scroll;
	text-align: left;
	background: #fff;
	opacity: 1.0;
	border: 1px solid #929;
	width: 640px;
	height: 380px;
}

.popup > header {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #929;
}

.popup > header > .close {
	float: right;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 5px;
	line-height: 26px;
	font-size: 20px;
	text-align: center;
	background: #929;
	border: 2px solid white;
	border-radius: 50%;
	color: white;
}

.popup > header > .close:hover {
	background: white;
	color: #929;
	border: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.popup > header > h2 {
	padding: 0px 30px;
	line-height: 40px;
	font-size: 25px;
	background: #929;
	color: white;
}

.popup form table {
	width: 100%;
	margin: 20px 0px;
}

.popup form tr {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.popup form td {
	padding: 0px 20px;
}

.popup form .lbl {
	width: 35%;
	text-align: right;
}

.popup form .inp {
	width: 35%;
}

.popup form .inp input {
	height: 20px;
	font-size: 14px;
	padding: 0px 10px;
	border: 1px solid #929;
}

.popup form .inp textarea {
	line-height: 20px;
	font-size: 14px;
	padding: 0px 10px;
	border: 1px solid #929;
}


#frmdelcors .inp input, #frmviewcors .inp input {
	padding: 0px;
	border: none;
}

#frmdelfclt .inp textarea, #frmviewfclt .inp textarea{
	padding: 0px;
	border: none;
}

.popup .message {
	width: 50%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	margin: 10px 50px;
	padding: 0px 20px;
	background: green;
	color: white;
}

.popup #corsdelmess {
	background: red;
	color: white;
}

.popup form .err {
	width: 30%;
}

/* .popup footer {
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 5px 0px;
	background: #929;
	height: 25px;
	line-height: 25px;
}

.popup footer > input[type="submit"] {
	display: inline-block;
	float: right;
	margin: 0px 20px;
	padding: 0px 20px;
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	border: 1px solid white;
	background: #929;
	color: white;
}

.popup footer > input[type="submit"]:hover {
	height: 25px;
	border: none;
	background: white;
	color: #929;
} */

form > footer {
	display: block;
	text-align: right;
	padding: 0px 20px;
	margin: 10px 20px;
}

form > footer > input[type="submit"] {
	display: inline-block;
	float: right;
	margin: 0px 20px;
	padding: 0px 20px;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	border: 1px solid white;
	background: #929;
	color: white;
}

form > footer > input[type="submit"]:hover {
	height: 35px;
	border: 1px solid #929;
	background: white;
	color: #929;
}

body > footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	border-top: 1px solid black;
}